<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TTCSerive.Properties.Settings.Building_TTC_dbConnectionString" connectionString="Data Source=buildingserver.database.windows.net;Initial Catalog=Building_TTC_db;Persist Security Info=True;User ID=BuildingUser;Password=BuildingPassW0rd" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
