<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BuildingService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BuildingService.Properties.Settings.building_dbConnectionString" connectionString="Data Source=112.213.94.77;Initial Catalog=building_db;Persist Security Info=True;User ID=Building_login;Password=dipvn-@" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <BuildingService.Properties.Settings>
            <setting name="MailServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="YourMail" serializeAs="String">
                <value>mail@gmail.com</value>
            </setting>
            <setting name="MailPass" serializeAs="String">
                <value>mypassword</value>
            </setting>
        </BuildingService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
