<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DIP.SoftPhoneAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
        <DIP.SoftPhoneAPI.Properties.Settings>
            <setting name="DIP_SoftPhoneAPI_cdrgw_OneLotusGW" serializeAs="String">
                <value>http://118.69.195.253/onelotus/pbxws/oneagentws~.php?debug=1</value>
            </setting>
        </DIP.SoftPhoneAPI.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
