<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServiceTTCNew.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ServiceTTCNew.Properties.Settings.Building_TTC_dbConnectionString"
            connectionString="Data Source=45.119.81.69;Initial Catalog=Building_TTC_db;Persist Security Info=True;User ID=Building_TTC;Password=BD_TTC-dipnt@018!-NT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ServiceTTCNew.Properties.Settings>
            <setting name="SqlConn" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlUserID" serializeAs="String">
                <value />
            </setting>
        </ServiceTTCNew.Properties.Settings>
    </userSettings>
</configuration>