<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIP.SwitchBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIP.SwitchBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DIP.SwitchBoard.Properties.Settings.connectionString"
            connectionString="Data Source=112.213.84.23;Initial Catalog=crmDIP_db;User ID=crmdip;Password=dIp-!43#"
            providerName="System.Data.SqlClient" />
        <add name="DIP.SwitchBoard.Properties.Settings.crmDIP_dbConnectionString"
            connectionString="Data Source=112.213.84.23;Initial Catalog=crmDIP_db;Persist Security Info=True;User ID=crmDIP"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DIP.SwitchBoard.Properties.Settings>
            <setting name="IsShowInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </DIP.SwitchBoard.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <DIP.SwitchBoard.Properties.Settings>
            <setting name="DIP_SwitchBoard_cdrgw_OneLotusGW" serializeAs="String">
                <value>http://118.69.195.253/onelotus/pbxws/oneagentws~.php?debug=1</value>
            </setting>
        </DIP.SwitchBoard.Properties.Settings>
    </applicationSettings>
</configuration>